<!DOCTYPE html>
<html>
<head>
    <%- include ("../header.ejs") %>
    <title>Ghost List</title>
    <style>
        h1{
            font-family: Cambria;
            text-shadow: 4px 2px 4px #000000;
            color: #18423b;
        }
        input{
            border: none;
            outline: none;
            font-size: 16px;
            box-shadow: inset 1px 1px 4px #18423b;
        }
        .btn-secondary {
            padding: 17px 40px;
            border-radius: 30px;
            border: 0;
            background-color: #52796f;
            box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-size: 15px;
            transition: all .5s ease;
        }

        .btn-secondary:hover {
            letter-spacing: 3px;
            background-color: hsl(261deg 80% 48%);
            color: hsl(0, 0%, 100%);
            box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
        }

        .btn-secondary:active {
            letter-spacing: 3px;
            background-color: hsl(261deg 80% 48%);
            color: hsl(0, 0%, 100%);
            box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
            transform: translateY(10px);
            transition: 100ms;
        }
    </style>
</head>
<body>
<%- include ("../navigation.ejs") %>
<div class="container" style=" background-color: white; opacity: 75%; border-radius: 10px; margin-top: 60px; padding-bottom: 10px">
    <h1 class="text-center">Ghost List</h1>
    <table class="table table-success table-striped-columns table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Full name</th>
            <th scope="col">Born</th>
            <th scope="col">Died</th>
            <th scope="col">Gender</th>
            <th scope="col">Faculty</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% ghosts.forEach(ghost => { %>
            <tr>
                <th scope="row"><%= ghost.id %></th>
                <td><%= ghost.fullName %></td>
                <td> <%= ghost.born %></td>
                <td> <%= ghost.died %></td>
                <td> <%if(ghost.gender){%>Male<%}else {%>Female<%}%></td>
                <td> <%= ghost.Faculty.name %></td>
                <td width="105">
                    <a href="/ghost/update/<%= ghost.id %>" class="btn" role="button">
                        <i class="fa-solid fa-pen"></i></a>
                    <a onclick="confirm_delete('/ghost/delete/<%= ghost.id %>',
                            '<%= ghost.fullName %>')"
                       class="btn" role="button"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="/ghost/create">Create ghost</a>
</div>
<%- include ("../scripts.ejs") %>
<script>
    function confirm_delete(link, name) {
        alertify.confirm('Confirmation', 'Delete ghost <b>' + name + '</b> ?',
            function () {
                window.location.href = link
            },
            function () {
            }).set({labels: {ok: 'Yes', cancel: 'No'}});
        return false;
    }
</script>
</body>
</html>
